@import "tailwindcss";

@plugin "tailwind-scrollbar";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-100: hsl(215, 47%, 21%);
  --color-primary-200: hsl(215, 46%, 15%);

  --color-secondary-100: hsl(215, 15%, 44%);
  --color-secondary-200: hsl(215, 20%, 38%);
  --color-secondary-300: hsl(215, 25%, 28%);

  --color-accent-100: hsl(208, 100%, 55%);
  --color-accent-200: hsl(208, 100%, 37%);

  --color-background-100: hsl(0, 0%, 100%);
  --color-background-200: hsl(204, 24%, 96%);
  --color-background-300: hsl(207, 26%, 93%);

  --color-border-100: hsla(215, 16%, 85%, 0.6);
  --color-border-200: hsla(215, 10%, 22%, 0.7);

  --color-primary-dark-100: hsl(215, 47%, 85%);
  --color-primary-dark-200: hsl(215, 46%, 79%);

  --color-secondary-dark-100: hsl(215, 25%, 78%);
  --color-secondary-dark-200: hsl(215, 20%, 68%);
  --color-secondary-dark-300: hsl(215, 15%, 52%);

  --color-background-dark-100: hsl(208, 24%, 31%);
  --color-background-dark-200: hsl(209, 23%, 26%);
  --color-background-dark-300: hsl(211, 20%, 23%);
  --color-background-dark-400: hsl(218, 21%, 15%);

  --shadow-subtle: 0 0 5px hsla(0, 0%, 0%, 0.05);
  --shadow-text-box: 0 0 5px hsla(208, 100%, 75%, 0.4);
  --shadow-button: 0 0 8px hsla(208, 100%, 70%, 0.5);
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@layer components {
  .form {
    @apply bg-background-100 dark:bg-background-dark-300 flex max-w-lg min-w-xs flex-1 flex-col items-center gap-4 rounded-4xl p-6;
  }
  .form-title {
    @apply mb-6 text-3xl select-none;
  }
  .form-input {
    @apply border-border-100 focus:outline-primary-200 dark:focus:outline-primary-dark-200 focus:border-primary-200 dark:focus:border-primary-dark-200 h-11 w-full rounded-md border-2 p-2 outline-1 outline-transparent transition-colors duration-250;
  }
  .form-field {
    @apply flex w-full flex-col items-start gap-2;
  }
  .form-button {
    @apply focus:outline-primary-200 focus:shadow-button dark:focus:outline-primary-dark-200 bg-secondary-100 dark:bg-secondary-dark-100 hover:bg-secondary-200 dark:hover:bg-secondary-dark-200 focus-visible:bg-secondary-200 dark:focus-visible:bg-secondary-dark-200 active:bg-secondary-300 dark:active:bg-secondary-dark-300 mt-4 h-11 w-full cursor-pointer rounded-md text-white outline-1 outline-transparent transition-all duration-180 dark:text-black;
  }
  .error {
    @apply mb-2 w-full rounded-md border-1 border-red-300 p-2 text-sm text-red-400 selection:rounded-md selection:bg-red-100 selection:text-red-600 dark:text-red-300 dark:selection:bg-red-200 dark:selection:text-red-700;
  }
  .error li {
    @apply relative before:absolute before:content-['•'] ltr:pl-3 ltr:before:left-0 rtl:pr-3 rtl:before:right-0;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
