@import "tailwindcss";

@plugin "tailwind-scrollbar";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;

  --color-primary-100: hsl(215, 47%, 21%);
  --color-primary-200: hsl(215, 46%, 15%);

  --color-secondary-100: hsl(215, 15%, 44%);
  --color-secondary-200: hsl(215, 20%, 38%);
  --color-secondary-300: hsl(215, 25%, 28%);

  --color-accent-100: hsl(208, 100%, 55%);
  --color-accent-200: hsl(208, 100%, 37%);

  --color-background-100: hsl(0, 0%, 100%);
  --color-background-200: hsl(204, 24%, 96%);
  --color-background-300: hsl(207, 26%, 93%);

  --color-border-100: hsla(215, 16%, 85%, 0.6);
  --color-border-200: hsla(215, 10%, 22%, 0.7);

  --color-primary-dark-100: hsl(215, 47%, 85%);
  --color-primary-dark-200: hsl(215, 46%, 79%);

  --color-secondary-dark-100: hsl(215, 25%, 78%);
  --color-secondary-dark-200: hsl(215, 20%, 68%);
  --color-secondary-dark-300: hsl(215, 15%, 52%);

  --color-background-dark-100: hsl(208, 24%, 31%);
  --color-background-dark-200: hsl(209, 23%, 26%);
  --color-background-dark-300: hsl(211, 20%, 23%);
  --color-background-dark-400: hsl(218, 21%, 15%);

  --shadow-subtle: 0 0 5px hsla(0, 0%, 0%, 0.05);
  --shadow-text-box: 0 0 5px hsla(208, 100%, 75%, 0.4);
  --shadow-button: 0 0 8px hsla(208, 100%, 70%, 0.5);
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@layer components {
  .warning {
    @apply mb-1 w-full rounded-md border-1 border-gray-300 p-2 text-sm text-gray-400 selection:rounded-md selection:bg-gray-100 selection:text-gray-600 dark:text-gray-300 dark:selection:bg-gray-200 dark:selection:text-gray-700;
  }
  .error {
    @apply mb-1 w-full rounded-md border-1 border-red-300 p-2 text-sm text-red-400 selection:rounded-md selection:bg-red-100 selection:text-red-600 dark:text-red-300 dark:selection:bg-red-200 dark:selection:text-red-700;
  }
  .error li {
    @apply relative before:absolute before:content-['•'] ltr:pl-3 ltr:before:left-0 rtl:pr-3 rtl:before:right-0;
  }
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  min-width: 320px;
}

#root {
  height: 100%;
}
